@page "/person/{Slug}"
@using game_of_thrones_411_blazor.Service
@using game_of_thrones_411_blazor.Models
@inject GOTService PeopleService

<TopMenu/>

@if (Slug == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @Slug<br/>
    @if (person != null)
    {
        @person.name<br/>
        @person.actor<br/>
        @person.house<br/>
        @person.image<br/>
        @person.titles<br/>
    }
}

@functions {
    [Parameter]
    public string Slug { get; set; }

    People person;

    protected override async Task OnInitAsync()
    {
        person = await PeopleService.GetPersonAsync(Slug);
    }
}
